#sistContainer {
    /*margin-right: 310px;*/
}

#sistContainer #sistContent {
    width: 70%;
    max-width: 70%;
    margin: 0;
    box-sizing: border-box;
    margin: 25px;
}

#sistContainer .wrap {
    margin: 0;
}

#sistContent h1 {
    margin-bottom: 10px;
}

/* Generate page */

#sistContainer #activityLog {
    border: 1px solid #000;
    background-color: #FFF;
    color: #000;
    display: block;
    height: 100px;
    overflow: auto;
    padding: 5px;
}

#sistContainer #generate {
    background: #6804cc;
    border: none;
    width: auto;
    display: inline-block;
}

#sistContainer #cancel {
    width: auto;
    display: inline-block;
    min-height: 50px;
    margin-left: 5px;
}

#sistContainer #activityLog .error-state {
    color: #dc143c;
}

#sistContainer .spinner {
    float: none;
}

#sistContainer .actions {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

#sistContainer .actions .spinner {
    margin-top: 12px;
}

/* Adding this to ensure table fits within parent div */
#sistContainer #exportLog table {
    word-break: break-all;
}

#sistContainer #exportLog td.status-code {
    min-width: 35px;
}

#sistContainer #exportLog td.status-code.unprocessable {
    font-weight: bold;
    color: #000;
}

#sistContainer .hide {
    display: none !important;
}

#sistContainer .button.button-destroy {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

#sistContainer .button.button-destroy:hover {
    background-color: #d9534f;
    border-color: #d43f3a;
}

#sistContainer .tablenav .page-numbers {
    padding: 6px 4px;
    font-size: 13px;
}

#sistContainer .tablenav .page-numbers.prev, #sistContainer .tablenav .page-numbers.next {
    padding: 3px 4px 6px;
    font-size: 16px;
}

#sistContainer .tablenav .page-numbers.current {
    display: inline-block;
    min-width: 17px;
    border: 1px solid #ccc;
    padding: 6px 4px;
    background: #e5e5e5;
    font-size: 13px;
    line-height: 1;
    font-weight: 400;
    text-align: center;
}

#sistContainer .tablenav .http-status {
    margin-top: 3px;
    line-height: 1.4em;
}

/* Settings page */
#sistContainer .nav-tab {
    float: left;
    padding: 15px 25px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.71428571;
    font-weight: 600;
    background: #bdb9b9;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    width: 33.33333333%;
    border-bottom: solid 1px #fff;
    border-right: solid 1px #fff;
    margin: 0;
    transition: 0.5s;
    text-transform: uppercase;
    text-align: center;
}

#sistContainer .nav-tab:focus {
    outline: 0 !important;
    box-shadow: none;
}

#sistContainer .nav-tab:hover {
    background: #7200e5;
}

#sistContainer #settingsPage {
    background: white;
}

#sistContainer .nav-tab-wrapper {
    padding-top: 0;
    border: none !important;
}

#sistContainer .nav-tab-active {
    background: #7200e5;
}

#sistContainer .button.button-primary {
    background: #7200e5;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    padding: 25px;
    line-height: 0;
    display: block;
    transition: 0.5s;
    text-transform: uppercase;
    float: left;
}

#sistContainer input, #sistContainer textarea {
    max-width: 60%;
}

#sistContainer .button-primary:hover, .generate > .generate-build:hover {
    background: #1f033f;
}

#sistContainer .tab-pane, tr.delivery-method {
    display: none;
}

#sistContainer .tab-pane.active, tr.delivery-method.active {
    display: table-row;
}

#sistContainer select:disabled, select.disabled {
    border-color: rgba(222, 222, 222, .75);
    background: rgba(255, 255, 255, .5);
    color: rgba(51, 51, 51, .5);
}

#sistContainer .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

#sistContainer .scheme-entry {
    height: 28px;
    margin-right: 0;
    vertical-align: bottom;
    border-right: 0;
}

#sistContainer .host-entry {
    height: 28px;
    width: 300px;
    margin-left: 0;
    padding: 2px 5px;
    vertical-align: bottom;
}

#sistContainer .url-dest-option {
    border: 1px solid #f1f1f1;
    display: table;
    cursor: pointer;
    width: 100%;
}

#sistContainer .url-dest-option:hover {
    background-color: #ececec;
    border: 1px solid #ddd;
}

#sistContainer .url-dest-option.active {
    background-color: #e5e5e5;
    border: 1px solid #ccc;
}

#sistContainer .url-dest-option > span {
    display: table-cell;
    vertical-align: middle;
    padding: 15px 9px;
}

#sistContainer .url-dest-option > span:first-child {
    width: 10px;
}

#sistContainer #excludableUrlRowTemplate {
    display: none;
}

#sistContainer .excludable-url-row input[type='checkbox'],
#sistContainer .excludable-url-row .button {
    margin-left: 10px;
}

#optionsForm {
    padding: 30px;
}

#reset-settings {
    display: block !important;
}

.generate > .generate-build {
    background: #7200e5;
}

/* Diagnostics page */

#sistContainer #diagnosticsPage table.striped {
    margin-bottom: 20px;
}

#sistContainer #diagnosticsPage td.label {
    width: 75%;
}

#sistContainer #diagnosticsPage td.test.success, #sistContainer #diagnosticsPage td.enabled {
    font-weight: bold;
    width: 25%;
    color: #008000;
}

#sistContainer #diagnosticsPage td.test.success::before {
    content: "\2713  ";
}

#sistContainer #diagnosticsPage td.test.error {
    font-weight: bold;
    width: 25%;
    color: #dc143c;
}

#sistContainer #diagnosticsPage td.disabled {
    width: 25%;
}

#sistContainer #diagnosticsPage td.test.error::before {
    content: "\2717  ";
}

#sistContainer .fade {
    float: left;
    width: 100%;
    max-width: 95%;
}

#diagnosticsForm {
    background: white;
    padding: 25px 25px 0 25px;
}

#emailDebugLogForm {
    background: white;
    padding: 0 25px 25px 25px;
}

/* Admin settings header. */

.simply-static-admin-header {
    float: left;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.simply-static-admin-header .logo {
    float: left;
    width: 240px;
}

.simply-static-admin-header .info-links {
    float: right;
    padding: 25px 0;
}

.simply-static-admin-header .info-links .button {
    display: block;
    float: left;
    margin-left: 10px;
    border-color: #7200e5;
}

.simply-static-admin-header .info-links .button:hover {
    background: transparent;
    border-color: #7200e5;
    color: #7200e5;
}

.simply-static-admin-header .info-links a {
    color: #7200e5;
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
}