<VirtualHost *:{{ item.port }}>
  ServerName {{ item.name }}

  DocumentRoot {{ apache_root_dir }}/{{ item.directory }}
  <Directory {{ apache_root_dir }}/{{ item.directory }}>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    allow from all
  </Directory>

  ErrorLog {{ apache_log_dir }}/{{ item.name }}.error.log
  LogLevel warn
  CustomLog {{ apache_log_dir }}/{{ item.name }}.access.log combined
  ServerSignature Off

  {% if item.port == '443' %}
  SSLEngine on
  SSLCertificateFile /etc/ssl/certs/snakeoil.crt
  SSLCertificateKeyFile /etc/ssl/private/snakeoil.key
  SSLVerifyClient None
  {% endif %}

  # allows referencing script.js as (e.g.) script.29375c241763bf245bb72e8c9fcf8.js
  # for cache busting
  <IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)\.([0-9a-f]{40})\.(js|css|png|jpg|gif)$ $1.$3 [L,E=ASSET:1]
  </IfModule>

  # set a one-year expiry if we're serving a static asset
  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=31536000, public" env=ASSET
  </IfModule>
</VirtualHost>
