<VirtualHost *:{{ item.port }}>
  ServerName {{ item.name }}

  DocumentRoot {{ apache_root_dir }}/{{ item.name }}
  <Directory {{ apache_root_dir }}/{{ item.name }}>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    Allow from all
  </Directory>

  ErrorLog {{ apache_log_dir }}/{{ item.name }}.error.log
  LogLevel warn
  CustomLog {{ apache_log_dir }}/{{ item.name }}.access.log combined
  ServerSignature Off

  {% if item.port == '443' %}
  SSLEngine on
  SSLCertificateFile /etc/ssl/certs/snakeoil.crt
  SSLCertificateKeyFile /etc/ssl/private/snakeoil.key
  SSLVerifyClient None
  {% endif %}

</VirtualHost>
