#wpcontent {
  padding-left: 0;
}

#wpbody-content {
  padding-bottom: 0;
}

#wpfooter {
  display: none;
}

toplevel_page_simply-static img {
  width:100%;
}

.settings-error.notice.notice-warning {
  display: none;
}


/* Start plugin settings */
.plugin-settings-container {
  background: #f0f0f1;

  .components-flex-item {
    margin-left: 0;
  }

  .inner-settings > * {
    max-width: 800px;
  }

  .settings-wide > * {
    max-width: 90%;
  }

  /* Navigation */
  .plugin-nav {
    padding: 25px 40px;
    height: 100vh;
    max-width: 260px;
    margin: 0;

    button:focus, button:focus-visible, button:hover {
      box-shadow: none;
      color: rgb(104, 4, 204);
    }

    .generate-container {
      margin-top: 30px;

      button {
        background: #6804cc;
        border: solid 1px #50059b;
        color: white;
        text-decoration: none;
        padding: 20px;
        max-width: 200px;
      }
    }

    .components-button {
      width: 100%;
      text-align: left;
      padding: 0;
    }

    .components-card__body {
      padding: 20px 0;
    }

    .components-button.is-primary {
      width: auto;
      padding: 10px 15px;
      margin: 10px 0;
    }

    .dashicon.dashicons.dashicons-admin-links {
      font-size: 15px;
      top: 2px;
      position: relative;
    }

    .components-button > .dashicon {
      margin-right: 10px;
    }

    .plugin-logo {
      max-width: 150px;
    }

    .is-active-item {
      color: rgb(104, 4, 204);
    }

    h4.settings-headline {
      text-transform: uppercase;
    }
  }

  /* Settings */
  .plugin-settings {
    padding: 25px 40px;
    height: 100vh;
    background: #f0f0f1;

    /* Tables */
    table {
      width: 100%;
    }

    table th {
      text-align: left;
      text-transform: uppercase;
    }

    /* Notices */
    .components-notice {
      margin: 15px 0 0 0;
    }

    /* Tooltips */
    .inline-tooltip {
      display: inline;
      top: -2px;
      position: relative;
      margin-left: 5px;
    }

    .dashicons-yes.icon-yes, .dashicons-no.icon-no {
      border: solid 1px;
      border-radius: 50%;
      padding: 2px 2px;
    }

    .dashicons-yes.icon-yes {
      color: #51aa51;
    }

    .dashicons-no.icon-no {
      color: #ca4242;
    }

    .formatted-label {
      margin-bottom: 10px;
      display: block;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 11px;
    }

    .simplycdn-connect {
      position: relative;
      top: -7px;
    }

    /* Terminal */
    .react-terminal-line {
      margin-bottom: 10px;
    }

    .react-terminal-line a {
      color:#6fa4df;
    }
  }
}

