.DS_Store

# keep the static-files directory but ignore anything in it, except the .keep file
simply-static/static-files/*
!simply-static/static-files/.keep

# These aren't needed by Simply Static itself, so we're ignoring them.
node_modules

# Not including stuff from composer
vendor

# Don't keep the debug log
simply-static/debug.txt
simply-static/debug.txt.zip
simply-static/debug.txt.html

# vagrant
.vagrant
*.retry

# don't store the copy of the svn repo
svn-wordpress-org/*
