.export-log {
	height: 200px;
	overflow: auto;
	border: 1px solid #DFDFDF;
	color: #000;
	background: #fff;
	width: 100%;
}

.export-log pre {
	margin: 0;
	padding: 3px 4px;
}

#sist-container {
	margin-right: 310px;
}

#sist-content {
	width: 100%;
	float: left;
}

#sist-sidebar {
	float: right;
	margin-right: -310px;
	width: 290px;
}

/* BEGIN Mailchimp Embedded Form CSS */

/* Mailchimp original CSS at:
   http://cdn-images.mailchimp.com/embedcode/slim-081711.css
*/
#mc_embed_signup input {border:1px solid #999; -webkit-appearance:none;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .clear {clear:none; display:inline;}
#mc_embed_signup input.email {display:block; padding:8px 0; margin:0 4% 10px 0; text-indent:5px; width:58%; min-width:130px; width:100%;}

/* END Mailchimp Embedded Form CSS */
