#sistContainer {
	margin-right: 310px;
}

#sistContainer #sistContent {
	width: 100%;
	float: left;
	min-width: 600px;
}

#sistContainer #sistSidebar {
	float: right;
	margin-right: -310px;
	width: 290px;
}

/* Generate page */

#sistContainer .export-log table {
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	display: block;
}

#sistContainer #generateForm .submit .spinner {
	float: none;
}

/* Options page */

#sistContainer .tab-pane, tr.delivery-method {
	display: none;
}

#sistContainer .tab-pane.active, tr.delivery-method.active {
	display: table-row;
}

#sistContainer select:disabled, select.disabled {
	border-color: rgba(222,222,222,.75);
	background: rgba(255,255,255,.5);
	color: rgba(51,51,51,.5);
}

#sistContainer .help-block {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #737373;
}

/* Mailchimp Form CSS */

/* Mailchimp original CSS at:
   http://cdn-images.mailchimp.com/embedcode/slim-081711.css
*/
#sistContainer #mc_embed_signup input {border:1px solid #999; -webkit-appearance:none;}
#sistContainer #mc_embed_signup input:focus {border-color:#333;}
#sistContainer #mc_embed_signup .clear {clear:none; display:inline;}
#sistContainer #mc_embed_signup input.email {display:block; padding:8px 0; margin:0 4% 10px 0; text-indent:5px; width:58%; min-width:130px; width:100%;}
